<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="QA data annotator tool">
  <meta name="author" content="jranasinghe40">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
 


  <title>QA data annotator</title>
</head>
<body>

  <div id="heading-section"> <h1>QA Data Annotator</h1></div>

  <div class="main-section">

    <div id="display-section">

      <button id="load-data-btn">Load Data</button>
      
      <p id="passage">Tot el camp
        És un clam
        Som la gent blaugrana
        Tant se val d’on venim
        Si del sud o del nord
        Ara estem d’acord
        Estem d’acord
        Una bandera ens agermana
        
        Blaugrana al vent
        Un crit valent
        Tenim un nom el sap tothom
        BARÇA BARÇA BAAAAARÇA!
    
        Jugadors
        Seguidors
        Tots units fem força
        Són molts anys plens d’afanys
        Són molts gols que hem cridat
        I s’ha demostrat s’ha demostrat
        Que mai ningú no ens podrà tòrcer
        
        Blaugrana al vent
        Un crit valent
        Tenim un nom el sap tothom
        BARÇA BARÇA BAAAAARÇA! </p>
    </div>

    <div id="data-entry-section">

      <h2>Enter QA Pairs</h2>

      <p>Enter the question and answers</p>

      <form id="qa-form">

        <div class="form-question">
          <label for="question">Question</label>
          <textarea class="question-input" id="question" name="question" placeholder="Enter the question"></textarea>
    
        </div>

        <div class="form-group" id="answer-1">
          <label for="answer">Answer</label>
          <input type="text" id="answer-1" name="answer-1" required maxlength=100" size="100">
          <p id="answer-1-start" class="start-point-answer">456</p>
          <input type="hidden" id="answer-1-start" name="start-point-answer" value=start-point-answer>
        
        </div>

        <div class="form-group" id="answer-2">
          <label for="answer">Answer</label>
          <input type="text" id="answer-2" name="answer-2" maxlength=100" size="100" >
          <p id="answer-2-start" class="start-point-answer">123</p>
          <input type="hidden" id="answer-2-start" name="start-point-answer" value=start-point-answer>
         
        </div>

        <div class="form-group" id="answer-3">
          <label for="answer">Answer</label>
          <input type="text" id="answer-3" name="answer-3" maxlength=100" size="100" >
          <p id="answer-3-start" class="start-point-answer">23</p>
          <input type="hidden" id="answer-3-start" name="start-point-answer" value=start-point-answer>
         
        </div>

        <button id="save-qa-btn" type="submit" p>Save</button>
        <button id="reset-qa-btn" type="reset">Reset</button>
        <button id="exit-btn">Exit</button>

      </form>
    </div>
  </div>

</body>
</html>